{% extends "bootstrap/base.html" %}

{%- block metas %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
{%- endblock metas %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block title %}Pay Sample{% endblock %}

{% block content %}
<div class="container">
  <h1>Purchased.</h1>
  <p>Name : {{ productName }}</p>
  <p>Price : {{ amount }}{{ currency }}</p>
  <a href="/"><button id="btn" type="button" class="btn btn-primary btn-block">Back to home</button></a>
</div>
{% endblock %}
